:root{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
  }
  html {
    font-size: 32px;
  }
  @media screen and (min-width: 320ppx) {
    html {
      font-size: 13.65px;
    }
  }
  @media screen and (min-width: 360px) {
    html {
      font-size: 15.36px;
    }
  }
  @media screen and (min-width: 375px) {
    html {
      font-size: 16px;
    }
  }
  @media screen and (min-width: 384px) {
    html {
      font-size: 16.38px;
    }
  }
  @media screen and (min-width: 400px) {
    html {
      font-size: 17px;
    }
  }
  @media screen and (min-width: 414px) {
    html {
      font-size: 17.67px;
    }
  }
  @media screen and (min-width: 424px) {
    html {
      font-size: 18.1px;
    }
  }
  @media screen and (min-width: 480px) {
    html {
      font-size: 20.48px;
    }
  }
  @media screen and (min-width: 540px) {
    html {
      font-size: 23.04px;
    }
  }
  @media screen and (min-width: 720px) {
    html {
      font-size: 30.72px;
    }
  }
  @media screen and (min-width: 750px) {
    html {
      font-size: 32px;
    }
  }
.container{
    display: flex;
    flex-direction: column;
    height: 95vh;
    /* border: 1px green solid; */
    justify-content: space-between;
    padding: 1rem;
    padding-right: 0;
}
.topic{
    display: flex;
    justify-content: flex-start;
    gap: 1rem
}
.topic > span{
    /* border: 1px green solid; */
    line-height: 1rem;
}
.topic > span:nth-of-type(2){
    flex: 1;
}
.choice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}
.choice > div{
    flex: 1;
    /* border: 1px green solid; */
}
.choice > div > span:nth-child(3){
    visibility: hidden;
}
.topic_choice{
    display: flex;
    justify-content: center;
    gap: 10rem;
}
.topic_choice > button{
    height: 2rem;
    width: 6rem;
    font-size: 1rem;
}
.init{
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}
.init > input, button{
    height: 1.2rem;
    width: 4rem;
}


.wrong{
    font-weight: 700;
    color: red;
}
.correct{
    font-weight: 700;
    color: greenyellow;
}