*{
    box-sizing: border-box;
}
.active-label{
    background-color: white !important;
}
.active-page{
    display: block !important;
}
.page{
    display: none;
    height: 100%;
    width: 100%;
}
.container{
    height: 85vh;
    width: 100vw;
}
input[type="radio"]{
    display: none;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
#settion{
    width: 100vw;
    height: 15vh;
    background-color: lightgray;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#settion label{
 
    height: 4rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
}

.home-container{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
to bottom,
rgba(255,255,255, 0.3),
rgba(255,255,255, 0.7)
),url(img/home.png);
background-size: cover;
}
.card-container{
    width: 100%;
    height: 80%;
    gap: 1rem;
    display: flex;
    
}



.page-setting .container {
width: 50vw;
text-align: center;
padding-top: 20px;
background-color: white; 
border-radius: 12px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 

}
.page-setting .container h1 {
text-align: center;
}
.location-list {
margin: 20px;
text-align: left;
}
.location-item {
padding: 15px 20px; 
border-radius: 8px; 
cursor: pointer;
transition: background-color 0.3s, transform 0.2s; 
}

.location-item:hover {
background-color: #e0e0e0; 
transform: scale(1.02);
}
.selected {
background-color: #007BFF;
color: white;
animation: fontGrow 0.5s forwards;
}
.symbol {
display: none;
}
.selected .symbol {

display: inline;
}
@keyframes fontGrow {
from {
font-size: 1rem;
}
to {
font-size: 1.2rem;
}
}

.card-container{
padding: 0 20%;
height:75vh;
width: 100%;
display: flex;
justify-content: start;
align-items: center;
/* overflow: scroll; */
position: relative;
}

.card{
background-color: #f2f2f2;
border-radius: 25px;
/* margin:20vh 10vw 20vh 10vw; */
width : 70vw;
height: 60vh;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}
.date{
display: flex;
justify-content: center;
align-items: center;
padding-top: 20px;
font-size: 40px;
}
.weather_image{
display: flex;
justify-content: center;
align-items: center;
padding-top: 20px;
font-size: 30px;
}
.weather, .temperature{
display: flex;
justify-content: center;
align-items: center;
padding-top: 10px;
padding-bottom: 10px;
font-size: 25px;
}

.country-name{
font-size: 40px;
font-weight: bold;
}
.arrow {
cursor: pointer;
font-size: 24px;
}
.left-arrow {
position: absolute;
left: 3rem;
}
.right-arrow {
position: absolute;
right: 3rem;
}

.dots-container {
text-align: center;
}

.dot {
height: 10px;
width: 10px;
margin: 0 5px;
background-color: gray;
border-radius: 50%;
display: inline-block;
cursor: pointer;
}

.active-dot {
background-color: black;
}